/* Global Styles */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(15, 15, 15); /* black background */
    color: #fff; /* white text */
    
}

/* Header Styles */
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30); 
    padding: 26px 26px;
    box-shadow: 0 0px 2px rgba(255, 255, 255, 0.9); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
#logo {
    height: 100px;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: scale(1.05);
}

/* Navbar  */
#navbar {
    display: flex;
    gap: 25px;
}

#navbar a {
    text-decoration: none;
    color: #00aaff; /* light blue links */
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px #1e90ff;
}

#navbar a:hover {
    color: rgb(81, 112, 255);
}

#navbar a.active {
    color: #5170ff;
    font-weight: 700;
}

.nav-search{

    flex: 1;
    display: flex;
    align-items: center;
    background-color:  rgb(30, 30, 30);
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-cat{
    display: flex;
    align-items: center;
    padding: 3px 3px;
    gap: 5px;
    background: gray;
    border-radius: 4px 4px 4px 4px;
}

.nav-search-input{

    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-text{
    margin-left: 15px;
}

.nav-text p{
    font-size: 10px;
}

.nav-text h1{
    font-size: 10px;
}