/* Global Styles */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(15, 15, 15); /* black background */
    color: #fff; /* white text */
    
}

/* Header Styles */
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30); 
    padding: 26px 26px;
    box-shadow: 0 0px 2px rgba(255, 255, 255, 0.9); 
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
#logo {
    height: 100px;
    transition: transform 0.3s ease;
}

#logo:hover {
    transform: scale(1.05);
}

/* Navbar  */
#navbar {
    display: flex;
    gap: 25px;
}

#navbar a {
    text-decoration: none;
    color: #00aaff; /* light blue links */
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px #1e90ff;
}

#navbar a:hover {
    color: rgb(81, 112, 255);
}

#navbar a.active {
    color: #5170ff;
    font-weight: 700;
}

.nav-search{

    flex: 1;
    display: flex;
    align-items: center;
    background-color:  rgb(30, 30, 30);
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-cat{
    display: flex;
    align-items: center;
    padding: 3px 3px;
    gap: 5px;
    background: gray;
    border-radius: 4px 4px 4px 4px;
}

.nav-search-input{

    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-text{
    margin-left: 15px;
}

.nav-text p{
    font-size: 10px;
}

.nav-text h1{
    font-size: 14px;
}

.cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}

.nav-bottom{
display: flex;
align-items: center;
gap: 20px;
padding: 8px 20px;
background: #232;
color: #fff;
font-size: 15px;
}

.nav-bottom div{
display: flex;
align-items: center;
gap: 5px;
font-weight: 500;
}

.scroll-bar{
    display:flex;
    overflow-y:hidden ;
}

/* Add styles for image here after*/

.scroll-bar a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f ;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18 px;
    cursor: pointer;

}

.control_next{
    right: 0;
}

.box-row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 30px;
}

.bow-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 30px;
    background: black;
    max-width: 24%;
    min-width: 200px;

}

.box-col a{
   font-size: 13px; 
   color: gray;
   font-weight: 500;
}
